body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #ccc;
	background:url("../img/cagebg.gif") repeat;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 15px;
        line-height: 1.6;
    }
}

a {
    color: #FFCB01;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #FFFE01;
}

a.post-link{
	color: #989494;
}

a.post-link:hover,
a.post-link:focus{
	color: #FFCB01;
}
.timetable{
	margin-top:50px;
	table-layout:fixed;
	width:100%;
	padding: auto 0;
}

.timetable th{
	text-align:center;
	vertical-align:top;
}
.timetable th{
	color:#777;
}
}.timetable td{
	text-align:center;
}
.timetable td:first-child{
	color:#777;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
	text-shadow: 0.05em 0.05em 0.05em #000;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: rgba(0, 0, 0, 0.67);
    }
}
/*necessary for full height/width background image within home page*/
.intro-header{
	width:100%;
	height:100%;
}
.intro-header::after{
	content:"";
	position: absolute;
	right: 0;
	left: 0;
	height: 50%;
	background: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0));
}

.intro {
    display: table;
    width: 100%;
	min-height: 285px;
    height: auto;
    padding: 100px 0 0 0;
    text-align: center;
    color: #fff;
    background: url("https://lh3.googleusercontent.com/VQXPVgzxdeMTCP2Qz3t6_ALuvi-Wlf2X69nXVm4pRSNIV2P68zl3ham9XyBGovI-AmmA_MkvFHfB=w1108-h571-no") no-repeat bottom right scroll;
	background-position-x: 50%;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro .intro-body {
    display: table-cell;
    vertical-align: bottom;
}
.intro .intro-body img{
	content: url("https://lh3.googleusercontent.com/OJ01p7x2lzlFTbo23wAOn0U8ec8LQcPlu3r-OGsYKHjSQ7uaKU-ITVgIHefApHGPZOKoKVkwQmFQ=w916-h446-no");
	max-width: 60vw;
	max-height: 35vh;
}
.brand-heading{
	font-family: "Devil Breeze";
	text-shadow: 0.05em 0.05em 0.05em #000;
}
#navbar-branding{
	position: absolute;
    float: left;
    padding: 5px;
    margin: 15px 0px;
    background-color: transparent;
    background-image: none;
}
#navbar-branding-bars{
	position: relative;
    float: right;
    padding: 9px 0px;
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.intro .intro-body .brand-heading {
    font-size: 40px;
	text-shadow: 0.05em 0.05em 0.05em #000;
}

.intro .intro-body .intro-text {
    font-size: 18px;
	text-shadow: 1px 1px 1px #000;
}

@media(min-width:768px) {
	.intro {
        height: 100%;
        padding: 0;
		background-position-x: 60%;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 50px;
    height: 50px;
   padding: 3px 7px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 31px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 150px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/masthead.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#jkwc {
	height:300px;
	width:100%;
}
#showreelthumb{
	padding:2px;
}
.gm-style-cc{
	display: none;
}
.gm-style-iw * {
	display: block;
	width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
	margin: 0;
	padding: 0;
}
.gm-style-iw a {
	color: #4272db;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 150px;
    }

    .download-section {
        padding: 150px 0;
    }
	#jkwc {
		height: 400px;
        margin-top: 50px;
	}
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #FFCB01;
	border-radius: 15px;
    color: #000;
    background-color: #FFCB01;
}

.btn-default:hover,
.btn-default:focus {
    border: none;
    outline: 0;
    color: #000;
    background-color: #FFCB01;
}

#contact .btn-default {
    color: #FFCB01;
    background-color: transparent;
}

#contact .btn-default:hover,
#contact.btn-default:focus {
    border: 1px solid #FFCB01;
    outline: 0;
    color: #000;
    background-color: #FFCB01;
}

ul.banner-social-buttons {
	margin-top: 0;
}
ul.banner-social-buttons i {
    width: 40px;
    height: 40px;
    color: #FFCB01;
	border: 1px solid #FFCB01;
    background-color: #000;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 0px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        margin-bottom: 20px;
        padding: 5px;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.post-list{
	margin-left: 0;
	list-style: none;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-left: 0;
}
.post-list li{
	margin-bottom: 20px;
}
.post-list h2, h3, h4, h5{
	margin: 0 0 5px;
}

article.post-content img{
	max-width: 100%;
}
/* CUSTOMISED */


	}
img{
	max-width: 100%;
}
.img-circular{
	width: 200px;
	height: 200px;
	background-size: cover;
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background-position: 50%;
	margin: 20px auto;
	
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.navbar-custom .nav li a{
	color: #FFF;
}

.well {
	border: none;
	background-color: rgba(255, 203, 1, 0.21);
}

#myCarousel .item { height: 500px; }
#slide0 {
	background: url('../img/slide0_medium.jpg') top left no-repeat;
}

#slide1 {
	background: url('../img/slide1_medium.jpg') top left no-repeat;
}

#slide2 {
	background: url('../img/slide2_medium.jpg') top left no-repeat;
}

#slide3 {
	background: url('../img/slide3_medium.jpg') top left no-repeat;
}

/* MIMIC BOOTSRAP CONTAINER BUT WITHOUT THE WIDTH: */
.container_bstrap_marginsonly{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.img-post{
	min-height: 30vh;
	min-width: 20vw;
	width: 100%;
	height: 100%;
	background-size: cover;
}

/* CUSTOM MEDIA QUERIES */

@media (max-width: 767px) {
	.intro-header{
		height:auto;
	}
	.intro{
		background-position-x: 70%;
		margin-top: 56px;
	}
	 .content-section {
        padding-top: 50px;
    }

    .download-section {
        padding: 50px 0;
    }
	.navbar-custom {
		border-bottom: none;
		background-color: rgba(0, 0, 0, 0.67);
	}
	.navbar-collapse{
		background-color: rgba(40, 40, 40, 0.67);
	}
	#myCarousel .item { height: 310px; }
	#slide0 {
		background: url('../img/slide0_small.jpg') top left no-repeat;
	}

	#slide1 {
		background: url('../img/slide1_small.jpg') top left no-repeat;
	}

	#slide2 {
		background: url('../img/slide2_small.jpg') top right no-repeat;
	}
	
	#slide3 {
        background: url('../img/slide3_small.jpg') top left no-repeat;
    }
	.img-circular{
		max-width:150px;
		max-height: 150px;
	}
}

@media (max-width: 767px) and (orientation: landscape){
	.img-post{
		min-height: 60vh;
	}
	.feature{
		min-height: 90vh;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.brand-heading.Devil-Breeze{
		display:none;
	}
}
/* Large desktop */
@media (min-width: 1200px) {
    #myCarousel .item { height: 500px; }
	#slide0 {
		background: url('../img/slide0_large.jpg') top center no-repeat;
	}

	#slide1 {
		background: url('../img/slide1_large.jpg') top center no-repeat;
	}

	#slide2 {
		background: url('../img/slide2_large.jpg') top right no-repeat;
	}
	
	#slide3 {
        background: url('../img/slide3_large.jpg') top center no-repeat;
    }
}






/*Lightbox classes */
#imagelightbox
{
    position: fixed;
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;
}
#imagelightbox-overlay
{
	background-color: #fff;
	background-color: rgba( 20, 20, 20, .9 );
	position: fixed;
	z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
/* ACTIVITY INDICATION */

#imagelightbox-loading,
#imagelightbox-loading div
{
	border-radius: 50%;
}
#imagelightbox-loading
{
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	position: fixed;
	z-index: 10003;
	top: 50%;
	left: 50%;
	padding: 0.625em; /* 10 */
	margin: -1.25em 0 0 -1.25em; /* 20 */

	-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
	box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
}
	#imagelightbox-loading div
	{
		width: 1.25em; /* 20 */
		height: 1.25em; /* 20 */
		background-color: #fff;

		-webkit-animation: imagelightbox-loading .5s ease infinite;
		animation: imagelightbox-loading .5s ease infinite;
	}

	@-webkit-keyframes imagelightbox-loading
	{
		from { opacity: .5;	-webkit-transform: scale( .75 ); }
		50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
		to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
	}
	@keyframes imagelightbox-loading
	{
		from { opacity: .5;	transform: scale( .75 ); }
		50%	 { opacity: 1;	transform: scale( 1 ); }
		to	 { opacity: .5;	transform: scale( .75 ); }
