---
layout: home
published: true
---

<!DOCTYPE html>
<section id="what-we-offer" class="container">
	<p>
		Jack Kontou Wing Chun facility is a fully equipped martial art school that offers mixed gender classes to all age groups and abilities. 
		Our primary focus is geared toward achieving the highest standard of stand-up striking through the Wing Chun Kung Fu system. 
	</p>
	<p>	
		We achieve this by cultivating a family friendly environment where a deeper understanding of self-defence can be developed in addition to improved confidence, discipline and physical fitness.
	</p>
	<div style="text-align: center;">
		<a href="#contact" class="btn btn-circle page-scroll">
			<i class="fa fa-angle-double-down animated"></i>
		</a>
	</div>
</section>
						
<!-- Contact Section -->
<section id="contact" class="container content-section">
			<h2>For more information or to book a free trial session contact us via:</h2>
			<ul class="list-inline banner-social-buttons">
				<li><a href="tel:+447951129140"><i class="fa fa-lg fa-phone"></i></a></li>
				<li><a href="mailto:info@jkwc.co.uk"><i class="fa fa-lg fa-envelope"></i></a></li>
				<li><a href="https://www.facebook.com/jkwcacton/"><i class="fa fa-lg fa-facebook"></i></a></li>
				<li><a href="https://www.instagram.com/jkwcacton/"><i class="fa fa-lg fa-instagram"></i></a></li>
				<li><a href="https://www.youtube.com/user/JackKontou"><i class="fa fa-lg fa-youtube"></i></a></li>
			<ul>
</section>

<!-- Posts Section -->
<section id="posts" class="container content-section">
		<h2>Posts</h2>
		<div style="margin-top:30px;">
			<div class="row">
				{% for post in paginator.posts limit:6 %}
				<div class="col-sm-4 col-xs-6 feature">
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
							{% if post.category == 'youtube' %}
							<div class="img-circular" style="background-image: url('https://img.youtube.com/vi/{{ post.thumbnail }}/{% if post.res %}{{ post.res }}{% else %}maxres{% endif %}default.jpg');"></div>
							{% else %}
								{% if post.thumbnail %}
								<div class="img-circular" style="background-image: url('{{ post.thumbnail | prepend: site.baseurl }}');"></div>
								{% else %}<!--- TODO replace this with a reference to a placeholder clip --->
								<div class="img-circular" style="background-image: url('{{ site.baseurl }}/img/logo.png');"></div>
								{% endif %}
							{% endif %}
							<h5>
								<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
							</h5>
							<span class="post-list post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
						</a>
						
				</div>
				{% endfor %}
			</div>
		</div>
</section>

<!-- SHOWREEL SECTION --->
<section id="showreel" class="container content-section">
	<div class="carousel slide" id="myCarousel">

		<!-- Indicator controls -->
		<ol class="carousel-indicators">
			<li class="active" data-slide-to="0" data-target="#myCarousel"></li>
			<li data-slide-to="1" data-target="#myCarousel"></li>
			<li data-slide-to="2" data-target="#myCarousel"></li>
		</ol>

		<!-- Wrapper for sides -->
		<div class="carousel-inner">
			<img class="item active Sirv image-fit" data-src="https://jkwcweb.sirv.com/Images/2021/carousel/16.jpg" />
			<img class="item Sirv image-fit" data-src="https://jkwcweb.sirv.com/Images/2021/carousel/19.jpg" />
			<img class="item Sirv image-fit" data-src="https://jkwcweb.sirv.com/Images/2021/carousel/DSC_0015.jpg" />
			<img class="item Sirv image-fit" data-src="https://jkwcweb.sirv.com/Images/2021/carousel/DSC_0068-3.jpg" />
			<img class="item Sirv image-fit" data-src="https://jkwcweb.sirv.com/Images/2021/carousel/DSC_0113.jpg" />
			<img class="item Sirv image-fit" data-src="https://jkwcweb.sirv.com/Images/2021/carousel/DSC_0137.jpg" />
			<img class="item Sirv image-fit" data-src="https://jkwcweb.sirv.com/Images/2021/carousel/DSC_0529.jpg" />
			<img class="item Sirv image-fit" data-src="https://jkwcweb.sirv.com/Images/2021/carousel/sifu-jack.jpg" />
			<img class="item Sirv image-fit" data-src="https://jkwcweb.sirv.com/Images/2021/carousel/IC7A7703.jpg" />
			<img class="item Sirv image-fit" data-src="https://jkwcweb.sirv.com/Images/2021/carousel/IMG_56320.jpg" />
		</div>

		<!-- Left and Right controls -->
		<a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
		<a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>

	</div>
</section>

<!-- About Section -->
<section id="about" class="container content-section">
			<h2>About</h2>
			<p>
				Wing Chun Kung Fu is a close combat fighting system based on sensitivity, economy of movement & simplicity. As an individual, each student is personally taught to the highest standard they are willing to aspire to by Sifu Jack Kontou.
				<br/><br/>Sifu Jack Kontou was trained & certified by Grandmaster Victor Kan and successfully opened & run Grandmaster Victor Kan's first authorised branch.
				<br/><br/>Wing Chun Kung Fu is a very direct, no-nonsense and fast fighting art of great practical value.
				<br/><br/><strong>When faced with a confrontation, Wing Chun Kung Fu Skills stand between what the assailant plans to do to you & what would ultimately happen.</strong>
			</p>
</section>

<!-- Map Section -->
<section id="findus" class="">
	<div class="container content-section">
		<h2><a href="https://g.page/jkwcacton">Location</a></h2>
		<div id='map'></div>
		<h2><a href="https://g.page/jkwcacton">108 Churchfield Road, Acton, W3 6BY</a></h2>
	</div>
	
	
</section>

<section id="timeteable" class="container content-section">
		<h2>Opening hours<br/></h2>
			<div class="timetable">
			<img class="Sirv" src="https://jkwcweb.sirv.com/Images/2021/Timetable/Mon.png" />
			<img class="Sirv" src="https://jkwcweb.sirv.com/Images/2021/Timetable/Tue.png" />
			<img class="Sirv" src="https://jkwcweb.sirv.com/Images/2021/Timetable/Thu.png" />
			<img class="Sirv" src="https://jkwcweb.sirv.com/Images/2021/Timetable/Sat.png" />
		</div>
</div>
	
	
</section>
<script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'>
	L.mapbox.accessToken = 'pk.eyJ1Ijoiamt3YyIsImEiOiJja290N2V0djEwOGw2MnBueWg4Z2lpOXN6In0.QxkVfOhs5o_PEKUZWEXNJw';
	var map = L.mapbox.map('map')
			.setView([51.50840883488733, -0.2691655921130605], 16)
			.addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/dark-v10'))
	map.scrollZoom.disable();

	var featureLayer = L.mapbox.featureLayer({
			type: 'FeatureCollection',
			features: [{
					type: 'Feature',
					properties: {
							'marker-color': '#A53740',
							'marker-size': 'large',
					},
					geometry: {
							type: 'Point',
							coordinates: [ -0.2691655921130605, 51.50840883488733]
					}
			}]
	})
	.addTo(map);
</script>