<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				<i class="fa fa-bars"></i>
			</button>
			<!---<a id="navbar-branding" class="page-scroll navbar-toggle" href="#page-top" data-toggle="collapse" data-target=".navbar-main-collapse">--->
			<a id="navbar-branding" class="page-scroll" href="#page-top">
				<p class="brand-heading Devil-Breeze" style="font-size:1.45em;margin-bottom:0;">jAck&thinsp;<span style=""></span>kontou <span style="color:#FFCB01">wing&thinsp;</span><span style=""></span><span style="color:#FFCB01">chun</span></p>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<li>
				{% if page.url == '/index.html' %}
					<a href="#page-top">HOME</a>
				{% else %}
					<a href="/">HOME</a>
				{% endif %}
				</li>
				<li>
					<a class="page-scroll" href="{% if page.url == '/index.html' %}#contact{% else %}{{ '#contact' | prepend: '/' }}{% endif %}">Contact</a>
				</li>
				<li {% if page.url == '/posts/index.html' or page.page-type == "post" %}class="active"{% endif %}>
					<a class="page-scroll" href="{{ site.baseurl }}/posts/index.html">Posts</a>
				</li>
				<li {% if page.url == '/showreel/index.html' %}class="active"{% endif %}>
					<a class="page-scroll" href="{{ site.baseurl }}/showreel/index.html">Showreel</a>
				</li>
				<li>
					<a class="page-scroll" href="{% if page.url == '/index.html' %}#about{% else %}{{ '#about' | prepend: '/' }}{% endif %}">About</a>
				</li>
				<li>
					<a class="page-scroll" href="{% if page.url == '/index.html' %}#findus{% else %}{{ '#findus' | prepend: '/' }}{% endif %}">Location</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>