<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				<i class="fa fa-bars"></i>
			</button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<!---{% if page.url != '/showreel/index.html' %}
				<li>
					<a {% if page.url == '/index.html' %}href="#page-top" class="active"{% else %}href="#page-top"{% endif %}>HOME</a>
				</li>
				{% else %}
				<li>
					<a href="/">HOME</a>
				</li>
				{% endif %}--->
				<li>
				{% if page.url == '/index.html' %}
					<a href="#page-top" class="active">HOME</a>
				{% else %}
					<a href="/" class="active">HOME</a>
				{% endif %}
				</li>
				<li>
					<a class="page-scroll" href="{% if page.url == '/' %}#contact{% else %}{{ '#contact' | prepend: '/' }}{% endif %}">Contact</a>
				</li>
				<li {% if page.url == '/posts/index.html' or page.page-type == "post" %}class="active"{% endif %}>
					<a class="page-scroll" href="{% if page.url == '/' %}#posts{% else %}{{ site.baseurl }}/posts/index.html{% endif %}">Posts</a>
				</li>
				<li {% if page.url == '/showreel/index.html' %}class="active"{% endif %}>
					<a class="page-scroll" href="{% if page.url == '/' %}#download{% else %}{{ site.baseurl }}/showreel/index.html{% endif %}">Showreel</a>
				</li>
				<li>
					<a class="page-scroll" href="{% if page.url == '/' %}#about{% else %}{{ '#about' | prepend: '/' }}{% endif %}">About</a>
				</li>
				<li>
					<a class="page-scroll" href="{% if page.url == '/' %}#findus{% else %}{{ '#findus' | prepend: '/' }}{% endif %}">Location</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>