/* FONT PATH
 * -------------------------- */
 @font-face {
    font-family: "Devil Breeze";
    src: url("./Devil Breeze Bold.ttf");
}
.Devil-Breeze {
  font: 'Devil Breeze';
  text-rendering: auto;
  text-transform: none;
  line-height: 1;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}