<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	{% include navbar.html %} {{ content }}

	<!-- Footer -->
	{% include footer.html %}
	<script>
		const galleriesData = [
			{
				folder: 'Bodybuilding',
				tag: 'bodybuidling'
			},
			{
				folder: 'Wooden%20Dummy',
				tag: 'woodendummy'
			},
			{
				folder: 'GM%20Victor%20Kan',
				tag: 'gmvk'
			},
			{
				folder: 'Magazine%20articles',
				tag: 'articles'
			},
			{
				folder: 'Misc',
				tag: 'misc'
			},
			{
				folder: 'Seminars',
				tag: 'seminars'
			},
			{
				folder: 'JKWC%20Junior%20class',
				tag: 'juniorclass'
			},
		];

		function cbSuccess(hrefs, folder, tag) {
			$(`ul.gallery_${tag}.row.list-unstyled`).before(`<h2>${folder}</h2>`);

			hrefs.forEach(href => (
				$(`ul.gallery_${tag}.row.list-unstyled`)
					.append(`<li id="showreelthumb" class="col-xs-6 col-sm-3"><a class="post-link" href="${href}" data-imagelightbox="a"><div class="img-post img-post-portfolio" style="background-image: url(${href});"></div></a></li>`)));
		}

		galleriesData.forEach(({ folder, tag }) => {
			fetch(`https://jkwcweb.sirv.com/Images/${folder}`)
				.then(res => res.text())
				.then(html => {
					const hrefs = html.match(/(?:href=)"([^"]*")/ig)
					const urls = hrefs.map(c => c.replace('href=', 'https:'));
					debugger;
					return urls;
				})
				.then(hrefs => cbSuccess(hrefs, folder, tag));
		})



	</script>
</body>

</html>